* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1.7;

  --text-on-light-color: #192e44;
  --text-on-dark-color: #a7e8e0;
  --nav-link-hover-color: #82c341;

  --faint-text-color: #646E7B;
  --button-bg-color: #82c341;
  --button-text-color: #192e44;
}

#root {
  background-image:  linear-gradient(96.92deg, rgb(25, 46, 68) 1.3%, rgb(167, 232, 224) 321.41%);
  color: var(--text-on-dark-color);
  padding-top: 4rem;
}

body {

  display: grid;
  grid-template-rows: 1fr auto;
}

a {
  text-decoration: none;
  color: var(--text-on-dark-color);
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

::selection {
  color: var(--text-on-light-color);
  background: var(--text-on-dark-color);
}


header {
  position: sticky;
  top: 0;
  
  display: flex;
  justify-content: space-around;
  background-color: white;
  z-index: 10000000;

  padding: 2rem;
}

header h3 a {
  font-size: 3rem;
  background: linear-gradient(96.92deg, #192e44 1.3%, #a7e8e0 321.41%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 3rem; */
}

nav > a {
  font-size: 2rem;
  font-weight: 600;

  padding: 0 4rem;
  color: var(--text-on-light-color);
  transition: all 0.3s;
}

nav > a:hover {
  color: var(--nav-link-hover-color);
}

.hero-section {
  /* height: 65vh; */

  /* width: 100%; */
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  /* display: grid;
  grid-template-columns: repeat(5, 30rem); */

  z-index: 999;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 50%;
  /* transform: translateX(-50%) translateY(5%); */
  transform: translateX(-50%);
  height: 100%;
  width: 90%; 

  z-index: -1;
  opacity: 25%;
}

.hero-bg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero-content {
  z-index: 999999;

  flex-basis: 50%;

  display: grid;
  grid-template-rows: repeat(10, 5rem);
  row-gap: 1rem;
}

.hero-content h6 {
  font-size: 1.6rem;

  grid-row: 3 / 4;
  align-self: end;
}

.hero-content h1 {
  font-size: 6rem;
  line-height: 1.1;

  grid-row: 4 / 7;
  align-self: center;
}

.hero-content p {
  font-size: 1.8rem;
  line-height: 1.2;

  grid-row: 7 / 8;
  align-self: center;
}

.hero-button {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 1rem 2.5rem;
  border: 1px solid transparent;
  border-radius: 25px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);

  align-self: start;
  transition: all 0.25s ease-in;

  grid-row: 8 / 10;
  align-self: center;
  justify-self: start;
}

.hero-button:hover {
  background-color: #192e44;
  color: var(--text-on-dark-color);
  border: 1px solid var(--text-on-dark-color);
  border-radius: 25px;
}

/* New Acquisition */
.acquisition-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(30rem, 40rem));
  /* grid-template-rows: repeat(3, auto); */
  
  place-content: center;
  column-gap: 5rem;

  padding: 4rem;
}

.h2-heading {

  grid-column: 1 / -1;
  grid-row: 1 / 2;

  place-self: center;
  font-size: 5rem;
  
}

form {

  grid-column: 1 / 2;
  grid-row: 4 / 10;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 5rem);
}


form .name-fieldset {
  border: none;
  font-size: 2rem;

  grid-column: 1 / 3;
  grid-row: 1 / 3;

  display: grid;
  gap: 0.5rem;
}

form .num-fieldset {
  border: none;
  font-size: 2rem;

  grid-column: 1 / 3;
  grid-row: 3 / 5;

  display: grid;
  grid-template-columns: 1fr; /* may not be needed*/
  grid-row: repeat(2, auto); /* may not be needed*/
  gap: 0.5rem
}

.num-fieldset label,
.name-fieldset label {
  font-size: 2rem;
  align-self: end;
}

input[type="text"],
select {
  border: none;
  outline: none;

  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 1rem;

  align-self: end;
}

.save-button {
  grid-column: 1 / 3;
  grid-row: 5 / 7;

  place-self: center;

  font-size: 2rem;
  font-weight: bold;
  padding: 1.5rem 4rem;
  border: 1px solid transparent;
  background-color: #82c341;
  color: #192e44;

  transition: all 0.15s ease-in;
}

.save-button:hover {
  border: 1px solid #82c341;
  border-radius: 25px;
}

.generate {
  position: relative;

  grid-column: 2 / 3;
  grid-row: 4 / 10;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 5rem);

  place-content: center;

  color: var(--text-on-light-color);
  /* background-color: #ffff; */
  background-color: #192e44;

  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(167, 232, 224, 0.3);
  -moz-box-shadow: 0px 0px 10px 2px rgba(167, 232, 224, 0.3);
  box-shadow: 0px 0px 10px 2px rgba(167, 232, 224, 0.3);

  z-index: 999;
}

.generate input {
  width: 2rem;
  height: 2rem;

  justify-self: center;
  align-self: end;

  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.generate input[type="checkbox"]:checked {
  transform: scale(1);
  background-color: green;
}


.generate label {
  grid-column: 1 / -1;
  grid-row: 2 / 3;

  place-self: center;
  font-size: 1.6rem;
  font-weight: bold;
}

.generate button {
  grid-column: 1 / -1;
  grid-row: 4 / 5;

  justify-self: center;
  align-self: start;
  padding: 1.5rem 2.5rem;

  font-size: 1.6rem;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 25px;
  background-color: #82c341;
  color: #192e44;

  transition: all 0.2s ease-in;
}

.generate button:hover {
  background-color: #192e44;
  color: var(--text-on-dark-color);
  border: 1px solid var(--text-on-dark-color);
}

.bg-replace {
  position: absolute;

  background-color: #ffffffe5;
  height: calc(100% - 6rem);
  width: calc(100% - 6rem);

  top: 3rem;
  left: 3rem;
  border-radius: inherit;
  
  z-index: -1;
}
/* New Acquisition*/


/* Acquired Companies */
.page-heading {
  text-align: center;
  font-size: 6rem;
  font-weight: bold;

  margin: 4rem 0;
}

.companies-container {
  /* height: 80vh; */

  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  /* grid-template-rows: repeat(3, auto); */

  gap: 3rem;
  justify-content: center;
  align-content: center;

  padding: 2rem;
}

.company-container {
  display: grid;
  grid-template-columns: repeat(3, 10rem);
  grid-template-rows: repeat(3, 6rem);
  gap: 0.5rem;

  background-image:  linear-gradient(96.92deg, rgb(25, 46, 68) 1.3%, rgb(167, 232, 224) 321.41%);
  color: var(--text-on-dark-color);
  
  padding: 1rem 2rem;
  border: 1px solid none;
  /* border: 1px solid; */
  border-radius: 15px;
}

.company-container .company-name {
  font-size: 3rem;
  grid-column: 1 / span 3;
  grid-row: 1 / 3;
}

.company-container .p-container {
  font-size: 2rem;
  grid-column: 1 / 2;
  grid-row: 3 / 4;

  align-self: end;
}

.p-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.p-container .vehicle-num {
  align-self: end;
  font-size: 2rem;
}

.p-container span {
  font-size: 1rem;
}

.p-container .in-fleet {
  align-self: start;
  font-size: 1.6rem;
}

.company-container .view-company {
  font-size: 1.5rem;
  font-weight: bold;
  grid-column: 3 / 4;
  grid-row: 3 / 4;

  align-self: center;
  justify-self: center;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #82c341; 
  color: #192e44;

  transition: all 0.2s ease-in;
}

.company-container .view-company:hover {
  background-color: #192e44;
  color: var(--text-on-dark-color);
  border: 1px solid var(--text-on-dark-color);
}
/* Acquired Companies */

/* Company Vehicles */
.vehicles-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 40rem);
  /* grid-template-rows: repeat(4, auto); */
  gap: 3rem;
  
  padding: 4rem;
  justify-content: center;
  /* background-color: grey; */
}

.vehicle-card {
  background-image:  linear-gradient(-45deg, rgb(25, 46, 68) 1.3%, rgb(167, 232, 224) 321.41%);
  /* background-image:  linear-gradient(-135deg, rgb(25, 46, 68) 1.3%, rgb(167, 232, 224) 321.41%); */
  color: var(--text-on-dark-color);

  display: grid;
  grid-template-columns: repeat(3, 10rem);
  grid-template-rows: repeat(4, 6rem);
  column-gap: 2rem;

  padding: 3rem;
  border: 1px solid none;
  border-radius: 25px;
}

.v-name {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  font-size: 3rem;
  align-self: center;
}

.v-type {
  grid-column: 3 / 4;
  grid-row: 1 / 2;

  justify-self: center;
  align-self: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.driver-info {
  grid-column: 1 / 2;
  grid-row: 2 / 5;

  align-self: end;
  justify-self: center;
  font-size: 1rem;

  display: flex;
  flex-direction: column;
}

.driver-info i {
  text-align: center;
  color: #a7e8e0;
  font-size: 5rem;
}

.driver-info .d-name {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;

  letter-spacing: 0.05rem;
}

.purchase-date {
  grid-column: 1 / 4;
  grid-row: 2 / 3;

  justify-self: center;
  align-self: end;

  font-size: 1.6rem;
  font-weight: bold;
}

.view-analytics {
  grid-column: 2 / 4;
  grid-row: 4 / 5;
  /* place-self: ; */
  justify-self: end;
  align-self: center;

  color: #192e44;
  background-color: #82c341;
  
  padding: 0.8rem 1.6rem;
  border: 1px solid transparent;
  border-radius: 15px;

  font-size: 1.5rem;
  font-weight: bold;

  transition: all 0.2s ease-in;
}

.view-analytics:hover {
  background-color: #192e44;
  color: var(--text-on-dark-color);
  border: 1px solid var(--text-on-dark-color);

  border: 1px solid none;
  border-radius: 15px;
}
/* Company Vehicles */



/* Vehicle Analytics */
.more-vehicle {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.identification-info {
  display: grid;
  /* grid-template-columns: repeat(3, 50rem); */
  grid-template-columns: repeat(3, 35rem);
  grid-template-rows: 1fr;

  /* padding: 0 4rem; */
  /* align-items: end; */
  place-content: center;

}

.identification-info h2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  justify-self: center;
  align-self: end;
  text-align: center;
  color: #ecececbe;

  font-size: 4rem;
}

.identification-info h3:nth-of-type(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  justify-self: start;
  align-self: end;
  color: #e2e2e277;
}

.identification-info h3:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 1 / 2;

  justify-self: end;
  align-self: end;
  color: #e2e2e277;
}

.full-analytics {
  display: grid;
  grid-template-columns: repeat(3, 35rem);
  grid-template-rows: repeat(2, 35rem); 
  /* grid-template-rows: repeat(2, min-content); */

  gap: 2rem;
  justify-content: center;
  align-content: center;
  
  padding: 4rem;
}

.speed-analytics {
  width: 100%;
  height: 100%;
  grid-column: 1 / 3;
  grid-row: 1 / 2;


  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  

  padding: 1rem 2rem;

  background-color: #192e44;
  border-radius: 15px;

}

.speed-analytics .chart-area {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}

.shadow-effect {
  -webkit-box-shadow: 4px 5px 11px -8px rgb(167, 232, 224);
  -moz-box-shadow: 4px 5px 11px -8px rgb(167, 232, 224);
  box-shadow: 4px 5px 11px -8px rgb(167, 232, 224);
}

.speed-analytics h2 {
  font-size: 1.7rem;
  color: #ecececbe;

  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.speed-analytics .time-frame{
  font-size: 1rem;
  color: #e2e2e277;

  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.speed-analytics .update-time {
  font-size: 1rem;
  color: #e2e2e277;

  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: end;
}

.fuel-analytics {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  /* padding: 1rem 2rem; */
  justify-self: stretch;
  /* align-self: ; */
  /* place-self: center; */

  background-color: #192e44;
  border-radius: 15px;

  display: grid;
  grid-template-columns: repeat(2, 17.5rem);
  grid-template-rows: repeat(3, auto);

  row-gap: 1rem;
}

.fuel-analytics h2 {
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  place-self: center;
  font-size: 1.7rem;

  color: #ecececbe;
}

.fuel-analytics #gauge-chart5 {
  grid-column: 1 / -1;
  grid-row: 2 / 3;

  justify-self: end;
  align-self: center;
}

.fuel-analytics p {
  grid-column: 1 / -1;
  grid-row: 3 / 4;

  place-self: center;
  color: #e2e2e277;

  font-size: 1.5rem;
}

.fuel-analytics span {
  padding: 0.5rem 1rem;
  background-color: #a7e8e0;
  color: #192e44;
  border: 1px solid transparent;
  border-radius: 10px;
  font-weight: bold;
}


.pressure-analytics {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  justify-self: center;
  align-self: center;

  display: grid;
  grid-template-columns: repeat(4, 8.75rem);
  grid-template-rows: repeat(6, minmax(auto, 5rem));
  row-gap: 1rem;
  /* column-gap: 0.33rem; */


  background-color: #192e44;
  border-radius: 15px;

}

.pressure-analytics h2 {
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  justify-self: center;
  align-self: center;

  font-size: 1.7rem;
  color: #ecececbe;
}

.pressure-analytics .tires {
  justify-self: center;

  grid-column: 2 / 4;
  grid-row: 2 / 7;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);

}

.leftfront {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.leftrear {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.rightfront {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.rightrear {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.leftfront,
.leftrear,
.rightfront,
.rightrear {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
  color: #192e44;
}

.tires .tire {
  /* width: 2.5rem; */
  width: 4rem;
  height: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 50%;
  background-color: #ff8800;
  border: 6px solid black;
  position: relative;
  display: flex;
  align-items: center;
}

.tires p {
  border-radius: 10px;
  padding: 0.25rem 0.5rem;
  
  color: #192e44;
  background-color: #a7e8e0;

  font-size: 1.7rem;
  font-weight: bold;
}

.line1 {
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  transform: rotate(45deg);
}

.line2 {
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  transform: rotate(90deg);
}

.line3 {
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  transform: rotate(-45deg);
}

.line4 {
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
}

.driver-vehicle-details {
  grid-column: 3 / 4;
  grid-row: 2 / 3;

  display: grid;
  grid-template-columns: repeat(5, 7rem);
  grid-template-rows: repeat(2, 16rem);
  row-gap: 3rem;

  justify-items: center;
  align-items: start;

  background-color: #192e44;
  border-radius: 15px;

}

.driver-vehicle-details h2 {
  font-size: 1.7rem;
  color: #ecececbe;
}

.driver-vehicle-details p {
  font-size: 1.3rem;
  color: #e2e2e277;
}

.driver-vehicle-details .driver-details {
  height: 100%;

  grid-column: 1 / -1;
  grid-row: 1 / 2;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.driver-vehicle-details .vehicle-details {
  height: 100%;

  grid-column: 1 / -1;
  grid-row: 2 / 3;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  align-items: center;
}

.maintenance-info {
  height: 100%;

  grid-column: 3 / 4;
  grid-row: 1 / 2;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  background-color: #192e44;
  border-radius: 15px;
}

.maintenance-info h2 {
  justify-self: start;

  color: #ecececbe;
}

.maintenance-info p {
  justify-self: end;

  color: #e2e2e277;
}

/* Vehicle Analytics */

footer {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 10rem 20%;
  gap: 4rem;

  background-color: #fff;
  /* flex-wrap: wrap; */
}

footer .main-info {
  display: flex;
  justify-content: center;
  gap: 3rem;
  font-size: 1.5rem;
}

footer .main-info h2{
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

footer h2 {
  background: linear-gradient(96.92deg, #192e44 1.3%, #a7e8e0 321.41%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 1.2px;
  font-weight: 800;
  margin-bottom: 1rem;
}

footer ul {
  margin-top: 4rem;
}

footer ul li {
  font-weight: 600;
  margin: 2.5rem 0;
}

footer ul li a {
  color: #646E7B;
}

footer ul li a:hover {
  text-decoration: underline;
}

footer hr {
  opacity: 50%;
}

footer .socials {
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
  align-items: flex-start;
  width: 30%;
  gap: 2rem;
}

footer .social-h2 {
  font-weight: 600;
  flex-shrink: 1;
}

footer .social-icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 3rem;
  color: #192e44;
}

footer .first-child {
  font-size: 1.6rem;
  color: #192e4480;
}

footer .last-child {
  background: linear-gradient(96.92deg, #192e44 1.3%, #a7e8e0 321.41%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2rem;
  font-weight: 700;
}

footer .linkedIn i {
  border-radius: 50%;
}

footer #contact-us {
  color: #192e44;
  background-color: #e2e2e29d;
  background-color: #82c341;
  padding: 1.5rem 3rem;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

footer #contact-us:hover {
  border-radius: 50px;
  transition: all 0.15s ease-in;
}

@media only screen and (max-width: 1200px) {
  footer {
    flex-wrap: wrap;
  }

  footer .socials {
    flex-basis: 70%;
    font-size: 2rem;
  }
  
}

@media only screen and (max-width: 800px) {
  header nav {
    justify-content: end;
  }

  header nav a {
    padding: 0 1rem;
    font-size: 1.6rem;
  }

  .acquisition-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    /* justify-items: center; */
    row-gap: 2rem;
  }

  form {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    justify-self: center;
    width: 80%;
  }

  .generate {
    grid-template-rows: repeat(6, 5rem);

    grid-column: 1 / -1;
    grid-row: 3 / -1;

    justify-self: center;
    width: 80%;
  }

  .generate button {
    grid-row: 5 / 6;
  }

  .generate input {
    grid-row: 2 / 3;
    align-self: center;
  }

  .generate label {
    grid-row: 3 / 4;
  }

  footer .main-info {
    flex-direction: column;
    flex-grow: 0.8;
    font-size: 2rem;
  }

  footer .socials {
    flex-grow: 1;
    font-size: 2rem;
  }
}


@media only screen and (max-width: 510px) {

  .hero-content {
    grid-template-rows: repeat(8, 5rem);
  }

  .hero-content h6 {
    grid-row: 2 / 3;
    font-size: 1.3rem;
  }

  .hero-content h1 {
    grid-row: 3 / 5;
    font-size: 4rem;
  }

  .hero-content p {
    font-size: 1.6rem;
    grid-row: 5 / 6;
  }

  .hero-button {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 1rem 2.5rem;

    grid-row: 7 / 8;
  }

    .h2-heading {
    font-size: 3.5rem;
  }

  header h3 a {
    font-size: 2.3rem;
  }

  header nav {
    justify-content: end;
  }

  header nav a {
    padding: 0 0.5rem;
    font-size: 1.6rem;
  }

  .page-heading {
    font-size: 3.5rem;
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .vehicles-container {
    grid-template-columns: repeat(auto-fit, 35rem);
  }

  .company-container .company-name {
    font-size: rem;

  }

  .vehicle-card {
    column-gap: 0;
    padding: 2.5rem;
  }
}
