* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 10px;
  font-weight: 400;
  line-height: 1.7;

  --text-on-light-color: #192e44;
  --text-on-dark-color: #a7e8e0;
  --nav-link-hover-color: #82c341;

  --faint-text-color: #646E7B;
  --button-bg-color: #82c341;
  --button-text-color: #192e44;
}

#root {
  background-image:  linear-gradient(96.92deg, rgb(25, 46, 68) 1.3%, rgb(167, 232, 224) 321.41%);
  color: var(--text-on-dark-color);
  /* width: 100%; */

  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

body {
  /* height: 100vh; */

  display: grid;
  grid-template-rows: auto 1fr auto;
}

a {
  text-decoration: none;
  color: var(--text-on-dark-color);
}

li {
  list-style: none;
}

::selection {
  color: var(--text-on-light-color);
  background: var(--text-on-dark-color);
}


header {
  display: flex;
  justify-content: space-around;
  background-color: white;

  padding: 2rem;
}

header h3 {
  font-size: 3rem;
  background: linear-gradient(96.92deg, #192e44 1.3%, #a7e8e0 321.41%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 3rem; */
}

nav > a {
  font-size: 2rem;
  font-weight: 600;

  padding: 0 4rem;
  color: var(--text-on-light-color);
  transition: all 0.3s;
}

nav > a:hover {
  color: var(--nav-link-hover-color);
}

nav a:last-child {
  padding-right: 0;
}

.hero-section {
  height: 80vh;
  
  display: grid;
  grid-template-columns: repeat(2, 70rem);
  grid-template-rows: repeat(10, auto);
  column-gap: 3rem;

  justify-content: center;
  /* justify-items: center; */
  /* align-items: center; */
  /* background-color: yellow; */
}

.hero-section h6 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  align-self: end;
  /* background-color: red; */

  font-size: 1.6rem;
}

.hero-header {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  /* background-color: red; */
  font-size: 6rem;
  align-self: center;
}

.hero-description {
  grid-column: 1 / 2;
  grid-row: 5 / 7;
  /* background-color: orange; */
  font-size: 2rem;
}

.hero-button {
  grid-column: 1 / 2;
  grid-row: 7 / 8;
  justify-self: start;
  align-self: start;

  font-size: 3rem;
  font-weight: bold;
  padding: 1rem 2.5rem;
  border: 1px solid transparent;
  border-radius: 25px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  /* background-color: blue; */

  transition: all 0.25s ease-in;
}

.hero-button:hover {
  background-color: #192e44;
  color: var(--text-on-dark-color);
  border: 1px solid var(--button-text-color);
  border-radius: 25px;
}

.hero-bg {
  grid-column: 2 / 3;
  grid-row: 2 / 10;
  /* background-color: blue; */
}

.hero-bg img {
  height: 100%;
  width: 100%;
  object-fit: cover;

  border-radius: 25px;
}

.tires {
  display: grid;
  grid-template-columns: repeat(2, 10rem);
  grid-template-rows: repeat(3, 4rem);
  /* background-color: green; */
  column-gap: 1rem;
}

.leftfront {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.leftrear {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.rightfront {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.rightrear {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.leftfront,
.leftrear,
.rightfront,
.rightrear {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  color: #a7e8e0;
}

.tires .tire {
  /* width: 2.5rem; */
  width: 4rem;
  height: 4rem;
  margin-left: 1rem;
  border-radius: 50%;
  background-color: #ff8800;
  border: 6px solid black;
  position: relative;
  display: flex;
  align-items: center;
}

.line1 {
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  transform: rotate(45deg);
}

.line2 {
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  transform: rotate(90deg);
}

.line3 {
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  transform: rotate(-45deg);
}

.line4 {
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
}



footer {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 10rem 20%;
  gap: 4rem;

}

footer .main-info {
  display: flex;
  justify-content: center;
  gap: 3rem;
  font-size: 1.5rem;
}

footer .main-info h2{
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

footer h2 {
  background: linear-gradient(96.92deg, #192e44 1.3%, #a7e8e0 321.41%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 1.2px;
  font-weight: 800;
  margin-bottom: 1rem;
}

footer ul {
  margin-top: 4rem;
}

footer ul li {
  font-weight: 600;
  margin: 2.5rem 0;
}

footer ul li a {
  color: #646E7B;
}

footer ul li a:hover {
  text-decoration: underline;
}

footer hr {
  opacity: 20%;
}

footer .socials {
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
  align-items: flex-start;
  width: 30%;
  gap: 2rem;
}

footer .social-h2 {
  font-weight: 600;
  flex-shrink: 1;
}

footer .social-icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 3rem;
  color: #192e44;
}

footer .first-child {
  font-size: 1.6rem;
  color: #192e4480;
}

footer .last-child {
  background: linear-gradient(96.92deg, #192e44 1.3%, #a7e8e0 321.41%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2rem;
  font-weight: 700;
}

footer .linkedIn i {
  border-radius: 50%;
}

footer #contact-us {
  color: #192e44;
  background-color: #82c341;
  padding: 1.8rem 3.6rem;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

footer #contact-us:hover {
  border-radius: 50px;
  transition: all 0.15s ease-in;
}