* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 10px;
  font-weight: 400;
  line-height: 1.7;

  --text-on-light-color: #192e44;
  --text-on-dark-color: #a7e8e0;
  --nav-link-hover-color: #82c341;

  --faint-text-color: #646E7B;
  --button-bg-color: #82c341;
  --button-text-color: #192e44;
}

#root {
  background-image:  linear-gradient(96.92deg, rgb(25, 46, 68) 1.3%, rgb(167, 232, 224) 321.41%);
  color: var(--text-on-dark-color);

  /* height: 100vh; */
  /* width: 100%; */

  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
  padding-top: 2rem;
}

body {
  /* height: 100vh; */

  display: grid;
  grid-template-rows: auto 1fr auto;
}

a {
  text-decoration: none;
  color: var(--text-on-dark-color);
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

::selection {
  color: var(--text-on-light-color);
  background: var(--text-on-dark-color);
}


header {
  display: flex;
  justify-content: space-around;
  background-color: white;

  padding: 2rem;
}

header h3 {
  font-size: 3rem;
  background: linear-gradient(96.92deg, #192e44 1.3%, #a7e8e0 321.41%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 3rem; */
}

nav > a {
  font-size: 2rem;
  font-weight: 600;

  padding: 0 4rem;
  color: var(--text-on-light-color);
  transition: all 0.3s;
}

nav > a:hover {
  color: var(--nav-link-hover-color);
}

nav a:last-child {
  padding-right: 0;
}

.hero-section {
  height: 80vh;
  
  display: grid;
  grid-template-columns: repeat(2, 70rem);
  grid-template-rows: repeat(10, auto);
  column-gap: 3rem;

  justify-content: center;
  /* justify-items: center; */
  /* align-items: center; */
  /* background-color: yellow; */
}

.hero-section h6 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  align-self: end;
  /* background-color: red; */

  font-size: 1.6rem;
}

.hero-header {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  /* background-color: red; */
  font-size: 6rem;
  align-self: center;
}

.hero-description {
  grid-column: 1 / 2;
  grid-row: 5 / 7;
  /* background-color: orange; */
  font-size: 2rem;
}

.hero-button {
  grid-column: 1 / 2;
  grid-row: 7 / 8;
  justify-self: start;
  align-self: start;

  font-size: 3rem;
  font-weight: bold;
  padding: 1rem 2.5rem;
  border: 1px solid transparent;
  border-radius: 25px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  /* background-color: blue; */

  transition: all 0.25s ease-in;
}

.hero-button:hover {
  background-color: #192e44;
  color: var(--text-on-dark-color);
  border: 1px solid var(--text-on-dark-color);
  border-radius: 25px;
}

.hero-bg {
  grid-column: 2 / 3;
  grid-row: 2 / 10;
  /* background-color: blue; */
}

.hero-bg img {
  height: 100%;
  width: 100%;
  object-fit: cover;

  border-radius: 25px;
}

.acquisition-container {
  height: 80vh;
  /* width: 100%; */

  display: grid;
  grid-template-columns: repeat(6, 15rem);
  grid-template-areas: 
  ".      .       .         .              .           ."
  ".      .       .         .              .           ."
  ".      heading       heading   heading        heading           ."
  "name   name    .      auto-generate    auto-generate auto-generate"
  "num    num     .       auto-generate    auto-generate auto-generate"
  "b-save b-save  b-save    auto-generate    auto-generate auto-generate"
  ".      .       .         .              .           ."
  ".      .       .         .              .           .";

  /* background-color: yellow; */
  justify-content: center;
  gap: 1rem;
}

.h2-heading {
  grid-area: heading;
  text-align: center;

  font-size: 4rem;
}

.name-fieldset {
  grid-area: name;
}

.num-fieldset {
  grid-area: num;
}

.save-button {
  grid-area: b-save;
  justify-self: start;
  align-self: flex-start;

  font-size: 2rem;
  font-weight: bold;
  padding: 1.5rem 4rem;
  border: 1px solid transparent;
  background-color: #82c341;
  color: #192e44;

  transition: all 0.15s ease-in;
}

.save-button:hover {
  border: 1px solid #82c341;
  border-radius: 25px;
}

.generate {
  grid-area: auto-generate;

  background-color: rgba(240, 237, 237, 0.534);
  background-color: #ffff;
  color: var(--text-on-light-color);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, auto);
  justify-content: center;

  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(167, 232, 224, 0.4);
  -moz-box-shadow: 0px 0px 10px 2px rgba(167, 232, 224, 0.4);
  box-shadow: 0px 0px 10px 2px rgba(167, 232, 224, 0.4);

  position: relative;
  z-index: 999;
}

.bg-replace {
  position: absolute;

  background-color: rgba(240, 237, 237, 0.685);
  height: 80%;
  width: 80%;

  z-index: -1;

  margin: 4.7rem;
  border-radius: inherit;
}

.generate input {
  width: 2rem;
  height: 2rem;

  align-self: center;
  justify-self: center;
  font-size: rem;

  grid-column: 1 / 2;
  grid-row: 3 / 4;

  /* accent-color: green; */
}

.generate input[type="checkbox"]:checked {
  transform: scale(1);
  background-color: green;
}

.generate label {
  justify-self: center;

  grid-column: 1 / 2;
  grid-row: 4 / 5;
  font-size: 1.6rem;
  font-weight: bold;
}

.generate button {
  grid-column: 1 / 2;
  grid-row: 6 / 7;

  justify-self: center;
  align-self: start;
  padding: 1.5rem 2.5rem;

  font-size: 1.6rem;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 25px;
  background-color: #82c341;
  color: #192e44;

  transition: all 0.2s ease-in;
}

.generate button:hover {
  background-color: #192e44;
  color: var(--text-on-dark-color);
  border: 1px solid var(--text-on-dark-color);
}

.name-fieldset,
.num-fieldset {
  display: grid;
  grid-template-rows: auto auto;

  border: none;
  font-size: 2rem;
}

input[type="text"],
select {
  border: none;
  outline: none;
  /* background: none; */

  font-size: 2.5rem;
  padding: 1.5rem 2rem;
  border-radius: 1rem;

  align-self: start;
}

.page-heading {
  text-align: center;
  font-size: 6rem;
  font-weight: bold;

  margin: 4rem 0;
}

.companies-container {
  /* height: 80vh; */

  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  /* grid-template-rows: repeat(3, auto); */

  gap: 3rem;
  justify-content: center;
  align-content: center;

  padding: 2rem;
}

/* Acquisitions */
.company-container {
  display: grid;
  grid-template-columns: repeat(3, 10rem);
  grid-template-rows: repeat(3, 6rem);
  gap: 0.5rem;

  background-image:  linear-gradient(96.92deg, rgb(25, 46, 68) 1.3%, rgb(167, 232, 224) 321.41%);
  color: var(--text-on-dark-color);
  
  padding: 1rem 2rem;
  border: 1px solid none;
  /* border: 1px solid; */
  border-radius: 15px;
}

.company-container .company-name {
  font-size: 3rem;
  grid-column: 1 / span 3;
  grid-row: 1 / 3;
}

.company-container .p-container {
  font-size: 2rem;
  grid-column: 1 / 2;
  grid-row: 3 / 4;

  align-self: end;
}

.p-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.p-container .vehicle-num {
  align-self: end;
  font-size: 2rem;
}

.p-container span {
  font-size: 1rem;
}

.p-container .in-fleet {
  align-self: start;
  font-size: 1.6rem;
}


.company-container .view-company {
  font-size: 1.5rem;
  font-weight: bold;
  grid-column: 3 / 4;
  grid-row: 3 / 4;

  align-self: center;
  justify-self: center;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #82c341; 
  color: #192e44;

  transition: all 0.2s ease-in;
}

.company-container .view-company:hover {
  background-color: #192e44;
  color: var(--text-on-dark-color);
  border: 1px solid var(--text-on-dark-color);
}
/* Acquisitions */

/* Company Vehicles */
.vehicles-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 40rem);
  /* grid-template-rows: repeat(4, auto); */
  gap: 3rem;
  
  padding: 4rem;
  justify-content: center;
  /* background-color: grey; */
}

.vehicle-card {
  background-image:  linear-gradient(-45deg, rgb(25, 46, 68) 1.3%, rgb(167, 232, 224) 321.41%);
  /* background-image:  linear-gradient(-135deg, rgb(25, 46, 68) 1.3%, rgb(167, 232, 224) 321.41%); */
  color: var(--text-on-dark-color);

  display: grid;
  grid-template-columns: repeat(3, 10rem);
  grid-template-rows: repeat(4, 6rem);
  column-gap: 2rem;

  padding: 3rem;
  border: 1px solid none;
  border-radius: 25px;
}

.v-name {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  font-size: 3rem;
  align-self: center;
}

.v-type {
  grid-column: 3 / 4;
  grid-row: 1 / 2;

  justify-self: center;
  align-self: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.driver-info {
  grid-column: 1 / 2;
  grid-row: 2 / 5;

  align-self: end;
  justify-self: center;
  font-size: 1rem;

  display: flex;
  flex-direction: column;
}

.driver-info i {
  text-align: center;
  color: #a7e8e0;
  font-size: 5rem;
}

.driver-info .d-name {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;

  letter-spacing: 0.05rem;
}

.purchase-date {
  grid-column: 1 / 4;
  grid-row: 2 / 3;

  justify-self: center;
  align-self: end;

  font-size: 1.6rem;
  font-weight: bold;
}

.view-analytics {
  grid-column: 2 / 4;
  grid-row: 4 / 5;
  /* place-self: ; */
  justify-self: end;
  align-self: center;

  color: #192e44;
  background-color: #82c341;
  
  padding: 0.8rem 1.6rem;
  border: 1px solid transparent;
  border-radius: 15px;

  font-size: 1.5rem;
  font-weight: bold;

  transition: all 0.2s ease-in;
}

.view-analytics:hover {
  background-color: #192e44;
  color: var(--text-on-dark-color);
  border: 1px solid var(--text-on-dark-color);

  border: 1px solid none;
  border-radius: 15px;
}
/* Company Vehicles */



/* Vehicle Analytics */
.more-vehicle {
  display: flex;
  flex-direction: column;

}

.identification-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;

  padding: 0 4rem;
  align-items: end;

}

.identification-info h2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  justify-self: center;
  color: #ecececbe;

  font-size: 4rem;
}

.identification-info h3:nth-of-type(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  justify-self: start;
  color: #e2e2e277;
}

.identification-info h3:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 1 / 2;

  justify-self: end;
  color: #e2e2e277;
}

.full-analytics {
  display: grid;
  grid-template-columns: repeat(3, 50rem);
  grid-template-rows: repeat(2, 35rem);

  gap: 2rem;
  justify-content: center;
  align-content: center;
  
  padding: 4rem;
}

.speed-analytics {
  width: 100%;
  height: 100%;
  grid-column: 1 / 3;
  grid-row: 1 / 2;


  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  

  padding: 1rem 2rem;

  background-color: #192e44;
  border-radius: 15px;

}

.speed-analytics .chart-area {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}

.shadow-effect {
  -webkit-box-shadow: 4px 5px 11px -8px rgb(167, 232, 224);
  -moz-box-shadow: 4px 5px 11px -8px rgb(167, 232, 224);
  box-shadow: 4px 5px 11px -8px rgb(167, 232, 224);
}

.speed-analytics h2 {
  font-size: 1.7rem;
  color: #ecececbe;

  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.speed-analytics .time-frame{
  font-size: 1rem;
  color: #e2e2e277;

  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.speed-analytics .update-time {
  font-size: 1rem;
  color: #e2e2e277;

  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: end;
}

.fuel-analytics {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  padding: 1rem 2rem;
  justify-self: stretch;
  /* align-self: ; */
  /* place-self: center; */

  background-color: #192e44;
  border-radius: 15px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);

  row-gap: 1rem;
}

.fuel-analytics h2 {
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  place-self: center;
  font-size: 1.7rem;

  color: #ecececbe;
}

.fuel-analytics #gauge-chart5 {
  grid-column: 1 / -1;
  grid-row: 2 / 3;

  justify-self: end;
  align-self: center;
}

.fuel-analytics p {
  grid-column: 1 / -1;
  grid-row: 3 / 4;

  place-self: center;
  color: #e2e2e277;

  font-size: 1.5rem;
}

.fuel-analytics span {
  padding: 0.5rem 1rem;
  background-color: #a7e8e0;
  color: #192e44;
  border: 1px solid transparent;
  border-radius: 10px;
  font-weight: bold;
}


.pressure-analytics {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  justify-self: center;
  align-self: center;

  display: grid;
  grid-template-columns: repeat(4, 12rem);
  grid-template-rows: repeat(6, minmax(auto, 5rem));
  row-gap: 1rem;
  column-gap: 0.33rem;


  background-color: #192e44;
  border-radius: 15px;

}

.pressure-analytics h2 {
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  justify-self: center;
  align-self: center;

  font-size: 1.7rem;
  color: #ecececbe;
}

.pressure-analytics .tires {
  grid-column: 2 / 4;
  grid-row: 2 / 7;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  /* background-color: green; */
  /* column-gap: 3rem; */

}

.leftfront {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.leftrear {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.rightfront {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.rightrear {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.leftfront,
.leftrear,
.rightfront,
.rightrear {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
  color: #192e44;
}

.tires .tire {
  /* width: 2.5rem; */
  width: 4rem;
  height: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 50%;
  background-color: #ff8800;
  border: 6px solid black;
  position: relative;
  display: flex;
  align-items: center;
}

.tires p {
  border-radius: 10px;
  padding: 0.25rem 0.5rem;
  
  color: #192e44;
  background-color: #a7e8e0;

  font-size: 1.7rem;
  font-weight: bold;
}

.line1 {
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  transform: rotate(45deg);
}

.line2 {
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  transform: rotate(90deg);
}

.line3 {
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  transform: rotate(-45deg);
}

.line4 {
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
}

.driver-vehicle-details {
  grid-column: 3 / 4;
  grid-row: 2 / 3;

  display: grid;
  grid-template-columns: repeat(5, 10rem);
  grid-template-rows: repeat(2, 16rem);
  row-gap: 3rem;

  justify-items: center;
  align-items: start;

  background-color: #192e44;
  border-radius: 15px;

}

.driver-vehicle-details h2 {
  font-size: 1.7rem;
  color: #ecececbe;
}

.driver-vehicle-details p {
  font-size: 1.3rem;
  color: #e2e2e277;
}

.driver-vehicle-details .driver-details {
  height: 100%;

  grid-column: 1 / -1;
  grid-row: 1 / 2;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.driver-vehicle-details .vehicle-details {
  height: 100%;

  grid-column: 1 / -1;
  grid-row: 2 / 3;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  align-items: center;
}

.maintenance-info {
  height: 100%;

  grid-column: 3 / 4;
  grid-row: 1 / 2;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  background-color: #192e44;
  border-radius: 15px;
}

.maintenance-info h2 {
  justify-self: start;

  color: #ecececbe;
}

.maintenance-info p {
  justify-self: end;

  color: #e2e2e277;
}

/* Vehicle Analytics */

footer {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 10rem 20%;
  gap: 4rem;

}

footer .main-info {
  display: flex;
  justify-content: center;
  gap: 3rem;
  font-size: 1.5rem;
}

footer .main-info h2{
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

footer h2 {
  background: linear-gradient(96.92deg, #192e44 1.3%, #a7e8e0 321.41%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 1.2px;
  font-weight: 800;
  margin-bottom: 1rem;
}

footer ul {
  margin-top: 4rem;
}

footer ul li {
  font-weight: 600;
  margin: 2.5rem 0;
}

footer ul li a {
  color: #646E7B;
}

footer ul li a:hover {
  text-decoration: underline;
}

footer hr {
  opacity: 20%;
}

footer .socials {
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
  align-items: flex-start;
  width: 30%;
  gap: 2rem;
}

footer .social-h2 {
  font-weight: 600;
  flex-shrink: 1;
}

footer .social-icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 3rem;
  color: #192e44;
}

footer .first-child {
  font-size: 1.6rem;
  color: #192e4480;
}

footer .last-child {
  background: linear-gradient(96.92deg, #192e44 1.3%, #a7e8e0 321.41%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2rem;
  font-weight: 700;
}

footer .linkedIn i {
  border-radius: 50%;
}

footer #contact-us {
  color: #192e44;
  background-color: #e2e2e29d;
  background-color: #82c341;
  padding: 1.8rem 3.6rem;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

footer #contact-us:hover {
  border-radius: 50px;
  transition: all 0.15s ease-in;
}

@media only screen and (max-width: 100rem) {
  .hero-section {
    grid-template-columns: repeat(2, 45rem);
  }
}